menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    /*-fx-padding: 0;*/
    -fx-shape: "M64 192h896v192h-896zM64 448h896v192h-896zM64 704h896v192h-896z";
}

.selected {
    -fx-background-color: #DFB951;
}

